service: ahv-council-mailer

provider:
  name: aws
  runtime: nodejs8.10

  stage: ${opt:stage}
  region: us-west-2
  environment: ${file(env.${opt:stage}.yml)}

  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ses:SendEmail"
      Resource: "*"
    - Effect: "Allow"
      Action:
        - "s3:PutObject"
      Resource: 
        - arn:aws:s3:::${file(env.${opt:stage}.yml):S3_LOGGING_BUCKET}/*

functions:
  createLetter:
    handler: handler.createLetter
    events:
      - http:
          path: submit
          method: post
          private: false
          cors: true

  approveLetter:
    handler: handler.approveLetter
    events:
      - http:
          path: approve
          method: post
          private: false
plugins:
  - serverless-mocha-plugin